<div>

  <h1>{{ title }}</h1>

  {{fusioncharts-xt
  width=width
  height=height
  type=type
  dataFormat=dataFormat
  dataSource=dataSource}}

  <button {{action "onClick"}}>Change Chart Data</button>

</div>