body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    background-color: #fff;
}

/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
